.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #013527 14%, #11a88a 85%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    height: 80px;
  }
  
  .logo img {
    width: 80px; /* Ajuste o tamanho conforme necessário */
  }
  
  nav {
    flex: 1; /* O nav ocupa o espaço disponível entre a logo e o botão */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os links */
    gap: 30px; /* Espaço entre os links */
    margin-left: -600px;
  }
  

  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    margin-left: -10px;
  }
  
  
  .nav-links li a:hover {
    color: #004f42; 

  }
  
  .minha-conta {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    font-size: 17px;
  }
  
  .minha-conta:hover {
    background-color: #fff;
    color: #004f42;
  }
  